.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 24px;
}
.Logo{
    width: 70px;
    border-radius: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    border: 2px solid black;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
    
}
.nav-items > ul >li{
    padding: 10px;
    list-style-type: none;    
}
.search{
    padding: 5px;
    margin: 10px;
}
.res-card{
    width: 300px;
    height: 400px;
    border-radius: 5%;
    background-color: #f0f0f0;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 190px;
    padding: 5px;
}
.res-container{
    display: flex;
  flex-wrap: wrap;
  margin: 2%;
  gap: 2%;
}